---
layout: default
title: Client Health Product Video
meta: Animated product explainer video for Adaptiva's re-launch of security product Client Health
---
<section class="page-header">
  <div class="content">
    <h1>{{page.title}}</h1>
    <p>{{page.meta}}</p>
  </div>
</section>
<section style="background: #fff; padding: 2.6em 1em;">
  <div class="content">
    <div class="responsive-video">
      <iframe src="https://player.vimeo.com/video/190639881?color=ff902c" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>
<section class="project-content">
  <div class="content">
    <p>As the creative director of marketing at Adaptiva, it's my job to make sure our customers and prospects are able to digest information about our products as easily, quickly, and pleasantly as possible.</p>
    <p>Animated product "explainer" videos are a great way to do that.</p>
    <h2>The Need</h2>
    <p>Adaptiva's Client Health is an amazing, powerful application that never got enough attention from our marketing team. At some point, we realized it deserved more prominence in our product suite, so we needed polished, high end marketing materials to "relaunch" Client Health. Starting with an animated explainer video.</p>
    <h2>Time Contraints</h2>
    <p>There was a lot of copy being jammed into the script. Adaptiva is in enterprise IT software, so the content is always pretty technical and wordy. However, a good explainer video is under 90 seconds, so I had to figure out how to cut the script down to an appropriate length.</p>
    <p>I personally worked with our copywriters to shorten the script down mostly to key messaging points about the product.</p>
    <p>I also worked with our voiceover talent to establish a brisk pace of speech to keep the video moving quickly to hit the desired time mark.</p>
    <p>By using quick, snappy animations and transitions, as well as upbeat, driving music, I was able to ship this video at just 1 minute and 22 seconds.</p>
    <div class="callout">
      <div class="callout-content">
        <div class="gallery">
          {% for image in site.data.galleries.client_health %}
          {% include html/gallery.html col="6"%}
          {% endfor %}
        </div>
      </div>
    </div>
    <h2>Illustration</h2>
    <p>I've set illustration guidelines and standards for Adaptiva, but, of course, every project is different and presents different challenges, and the illustration guidelines serve to provide a solid starting point.</p>
    <p>Adaptiva Client Health is a product that focuses on the security and uptime of system endpoints (computers) in really big companies.</p>
    <p>I wanted to show "security" imagery and remind the viewer that Client Health is a robust, reliable, enterprise-grade product. But I also wanted the video to have a very friendly, human-centered look and feel, since the product is supposed to automate tedious tasks and make lives easier.</p>
    <p>So I opted to illustrate relatable people expressing emotions, as well as more "professional" imagery to showcase features and security functions. I kept the two illustration types separated based on the script, and kept the styles cohesive and on-brand.</p>
  </div>
</section>
