---
layout: default
title: Design
meta: Selected designs and illustrations from the work of Seattle visual designer Jesse Rogers
---
<header class="page-header">
  <div class="content">
    <h1 class="page-title">{{page.title}}</h1>
    <p>Some visual design, illustration, and UI/UX stuff</p>
  </div>
</header>
<section class="design">
  <div class="content">
    <div class="gallery">
      {% for image in site.data.galleries.design %}
        {% include html/gallery.html col="4" %}
      {% endfor %}
    </div>
  </div>
</section>
