---
layout: default
title: Motion
meta: Selected pieces from Seattle photographer Jesse Rogers' video portfolio
---
<header class="page-header">
  <div class="content">
    <h1 class="page-title">{{page.title}}</h1>
  </div>
</header>
<section class="photography">
  <div class="content">
    <div class="gallery">
      {% for video in site.data.galleries.motion %}
        {% include html/gallery-video.html col="6" %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="color-block yellow">
  <div class="content">
    <div class="j-row">
      <div class="j-col j-col-8 push-2 wrap">
        <p class="type-big">The views and opinions expressed by the subjects of my video work do not necessarily reflect my own views. Just saying.</p>
      </div>
    </div>
  </div>
</section>
