---
---
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  &:focus {
    outline: none;
  }
}

// Breakpoints
{% include scss/breakpoints.scss %}

// Z-index
{% include scss/zindex.scss %}

// Color
{% include scss/color.scss %}

// Typography
{% include scss/type.scss %}

// Spacing
{% include scss/spacing.scss %}

{% include scss/transitions.scss %}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 68px 0 0;
  margin: 0;
  font-size: 16px;
  background: $black;
}

// Structural Framework
{% include scss/jframework.scss %}

// Button styles
{% include scss/button.scss %}

.content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

// Navigation
{% include scss/navigation.scss %}

// Footer
{% include scss/footer.scss %}

.arrow {
  transition: 300ms ease;
  &.black {
    .lil-arrow {
      fill: $black;
    }
  }
}

// Gallery
{% include scss/gallery.scss %}

// Homepage
{% include scss/homepage.scss %}

// Projects
{% include scss/projects.scss %}

// Portfolios
{% include scss/portfolios.scss %}

// About
{% include scss/about.scss %}

// Journal
{% include scss/journal.scss %}

// Journal post
{% include scss/post.scss %}

// Contact
{% include scss/contact.scss %}
