---
---
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  &:focus {
    outline: none;
  }
}

// Breakpoints
{% include scss/breakpoints.scss %}

// Z-index
{% include scss/zindex.scss %}

// Color
{% include scss/color.scss %}

// Typography
{% include scss/type.scss %}

// Spacing
{% include scss/spacing.scss %}

{% include scss/transitions.scss %}

{% include scss/animations.scss %}

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  padding: 68px 0 0;
  margin: 0;
  font-size: 16px;
  background: $black;
  overflow-x: hidden;
}

// Structural Framework
{% include scss/jframework.scss %}

// Button styles
{% include scss/button.scss %}

.content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.overflow {
  overflow: visible;
}
.centered {
  text-align: center;
}

// Navigation
{% include scss/navigation.scss %}

// Footer
{% include scss/footer.scss %}

.arrow {
  transition: 300ms ease;
  &.black {
    .lil-arrow {
      fill: $black;
    }
  }
}

// Gallery
{% include scss/gallery.scss %}

// Homepage
{% include scss/homepage.scss %}

// Projects
{% include scss/projects.scss %}

// Portfolios
{% include scss/portfolios.scss %}

// About
{% include scss/about.scss %}

// Journal
{% include scss/journal.scss %}

// Journal post
{% include scss/post.scss %}

// Contact
{% include scss/contact.scss %}

// Directions
{% include scss/directions.scss %}

// Syntax highlighter
{% include scss/rouge.scss %}

section.error {
  width: 100%;
  height: calc(100vh - 68px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  background: $white;
  padding: 0;
  .error-message {
    -ms-flex-item-align: center;
    align-self: center;
  }
  .error-image {
    -ms-flex-item-align: end;
    align-self: flex-end;
    img {
      display: block;
      max-width: 100%;
      margin-left: 5%;
    }
  }
  @media #{$tablet}, #{$mobile} {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    min-height: calc(100vh - 68px);
    height: auto;
    .error-message {
      text-align: center;
      margin: 0;
    }
  }
}

code {
  background: #eee;
  padding: 4px;
  font-family: 'Consolas', monospace !important;
}

pre.highlight {
  background: $charcoal;
  padding: $spacing-small;
  margin: $spacing-large 0;
  white-space: pre-wrap;
  code {
    background: transparent;
  }
  * {
    font-family: 'Consolas', monospace !important;
  }
}
