---
layout: default
title: Journal
meta: Sporadic updates on the life, work, and life at work for Seattle, WA based artist Jesse Rogers. Latest illustrations, ideas, and photos.
---
<section class="page-header">
  <div class="content">
    <h1>{{page.title}}</h1>
    <p class="j-col j-col-6 wrap">Welcome to my online journal! When I remember to, I'll write about what I'm doing at work, fun side projects, and the occasional unsolicited opinion.</p>
  </div>
</section>
<section class="journal-list">
  <div class="content grid-container">
    {% for post in paginator.posts %}
    <article class="journal-item j-col j-col-4">
      <a title="{{post.title}}" href="{{post.url | relative_url}}">
        <div class="journal-item-img">
          {% if post.category == 'journal' %}
          <img src="/assets/img/journal/{{post.image}}" alt="{{post.title}}">
          {% endif %}
          {% if post.category == 'projects' %}
          <img src="/assets/img/projects/{{post.image}}" alt="{{post.title}}">
          {% endif %}
        </div>
        <h3>{{post.title}}</h3>
        <p class="journal-item-excerpt">{{post.excerpt}}</p>
        <p class="journal-item-meta">
          <span class="journal-item-date">{{post.posted}}</span>
          <br>
          <span class="journal-item-tag">{{post.tag}}</span>
        </p>
      </a>
    </article>
    {% endfor %}
  </div>
</section>
<section class="pagination">
  <div class="content">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous no-previous">Previous</span>
    {% endif %}
    <span class="page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next no-next">Next</span>
    {% endif %}
  </div>
</section>
