<!DOCTYPE html>
<html>
  <head>
    {% if page.noindex %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.meta %}
    <meta name="description" content="{{page.meta}}">
    {% endif %}
    <title>{% if page.title %}{{page.title}} / {% endif %}Jesse Rogers - Seattle Designer, Photographer, Web Developer</title>
    <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <nav class="main-nav">
      <a class="logo" href="/">
        {% include svg/jesse-rogers.svg %}
      </a>
      <div class="js-nav-trigger">
        <span></span>
        <span></span>
      </div>
      <ul class="nav-items">
        <li class="nav-item">
          <a href="{{"/projects" | relative_url}}">Projects</a>
        </li>
        <li class="nav-item has-subnav">
          <a href="#0">Quick Portfolios</a>
          <ul class="subnav" style="display: none;">
            <li class="subnav-item">
              <a href="{{"/photography" | relative_url}}">Photography</a>
            </li>
            <li class="subnav-item">
              <a href="{{"/design" | relative_url}}">Design</a>
            </li>
            <li class="subnav-item">
              <a href="{{"/motion" | relative_url }}">Motion</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          {% if page.url == '/journal/' %}
          <a href="{{"/journal" | relative_url}}" class="is-current">Journal</a>
          {% else %}
          <a href="{{"/journal" | relative_url}}">Journal</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if page.url == '/about/' %}
          <a href="{{"/about" | relative_url}}" class="is-current">About</a>
          {% else %}
          <a href="{{site.url}}/about">About</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a href="{{"/contact" | relative_url}}">Contact</a>
        </li>
      </ul>
    </nav>
    {{content}}
    <footer class="footer">
      <div class="content">
        <div class="j-col j-col-6 copyright">
          All content ©<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Jesse Rogers. All rights reserved.
        </div>
        <div class="j-col j-col-6 social">
          <a class="social-icon" href="http://twitter.com/jesserogers" target="_blank">Twitter</a>
          <a class="social-icon" href="http://instagram.com/jssrgrs" target="_blank">Instagram</a>
          <a class="social-icon" href="http://dribbble.com/jesserogers" target="_blank">Dribbble</a>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% if page.validate %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{'/assets/js/main.js' | relative_url}}"></script>
  </body>
</html>
