---
layout: default
---
<section class="post-title">
  <div class="content">
    <span class="post-meta">{{page.posted}} • {{page.tag}}</span>
    <h1>{{page.title}}</h1>
    <span class="post-excerpt">{{page.excerpt}}</span>
  </div>
</section>
<section class="post-body">
  <div class="content">
    {% if page.feature_image %}
    <div class="callout">
      <div class="callout-content">
        <img src="/assets/img/journal/{{page.image}}" srcset="/assets/img/journal/{{page.image}} 1x, /assets/img/journal/{{page.image2x}} 2x"  alt="{{page.meta}}">
      </div>
    </div>
    {% endif %}
    {{content}}
  </div>
</section>
<section class="post-nav">
  <div class="content">
    {% assign prevPost = "" %}
    {% assign nextPost = "" %}
    {% assign stop = false %}
    {% for post in site.posts%}
      {% if post.url == page.url %}
        {% assign stop = true %}
        {% elsif post.category == page.category %}
        {% if stop %}
          {% assign prevPost = post.url %}
          {% assign pTitle = post.title %}
          {% break %}
          {% else %}
            {% assign nextPost = post.url %}
            {% assign nTitle = post.title %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if prev != "" %}
        <a class="post-nav-link previous" href="{{prevPost}}"><div class="post-nav-arrow">&#x279E;</div> &nbsp; {{pTitle}}</a>
      {% else %}
      <div><!-- Filler div! * does jazz hands * --></div>
    {% endif %}
    {% if next != "" %}
        <a class="post-nav-link next" href="{{nextPost}}">{{nTitle}} &nbsp; <div class="post-nav-arrow">&#x279E;</div></a>
      {% else %}
      <div><!-- Filler div! * does jazz hands * --></div>
    {% endif %}
</div>
</section>
