section.about-me {
  background: $white;
}

.about-me-img {
  background-image: url('/assets/img/jesse-rogers-about-me.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  align-self: stretch;
  min-height: 33vw;
  @media #{$tablet} {
    min-height: 420px; //lmao
  }
  @media #{$mobile} {
    min-height: 300px;
  }
}

.about-me-txt {
  padding: $spacing-large $spacing-larger;
}

section.press {
  background: $white;
  padding: $spacing-large 0;
}

.press-heading {
  text-align: center;
  h2 {
    font-size: $type-larger;
  }
  p {
    color: lighten($black, 50%);
  }
  @media #{$mobile} {
    padding: 0 $spacing-small;
  }
}

.press-list {
  list-style-type: none;
  padding: 0;
  margin: $spacing-larger 0;
}

.press-article {
  border-bottom: 2px solid lighten($black, 75%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  a {
    color: inherit;
    @include vertical-center;
    padding: $spacing-small 0;
    @media #{$mobile} {
      display: block;
    }
  }
  span {
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
  }
  &:hover {
    border-color: $yellow;
    span {
      background-color: $yellow;
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}
