@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes lightboxSpan1 {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes lightboxSpan1 {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@-webkit-keyframes lightboxSpan2 {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}
@keyframes lightboxSpan2 {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}
