.btn {
  display: inline-block;
  padding: $spacing-small $spacing-normal;
  font-weight: 700;
  -webkit-transition: background 300ms ease, color 300ms ease, -webkit-box-shadow 300ms ease-in;
  transition: background 300ms ease, color 300ms ease, -webkit-box-shadow 300ms ease-in;
  transition: background 300ms ease, color 300ms ease, box-shadow 300ms ease-in;
  transition: background 300ms ease, color 300ms ease, box-shadow 300ms ease-in, -webkit-box-shadow 300ms ease-in;
  &.black {
    background-color: $black;
    color: $white;
    &:hover {
      -webkit-box-shadow: 6px 6px 0 0 $yellow;
              box-shadow: 6px 6px 0 0 $yellow;
    }
  }
  &.yellow {
    background: $yellow;
    color: $black;
    &:hover {
      -webkit-box-shadow: 6px 6px 0 0 $black;
              box-shadow: 6px 6px 0 0 $black;
    }
  }
  &.white {
    background: $white;
    color: $black;
    &:hover {
      -webkit-box-shadow: 6px 6px 0 0 $yellow;
              box-shadow: 6px 6px 0 0 $yellow;
    }
  }
}
