.btn {
  display: inline-block;
  padding: $spacing-small $spacing-normal;
  font-weight: 700;
  -webkit-transition: background 300ms ease, color 300ms ease, -webkit-box-shadow 300ms ease-in;
  transition: background 300ms ease, color 300ms ease, -webkit-box-shadow 300ms ease-in;
  transition: background 300ms ease, color 300ms ease, box-shadow 300ms ease-in;
  transition: background 300ms ease, color 300ms ease, box-shadow 300ms ease-in, -webkit-box-shadow 300ms ease-in;
  &.black {
    background-color: $black;
    color: $white;
    &.outline {
      background-color: transparent;
      border: 2px solid $black;
      color: $black;
    }
    &:hover {
      -webkit-box-shadow: 6px 6px 0 0 $yellow;
              box-shadow: 6px 6px 0 0 $yellow;
      &.outline {
        -webkit-box-shadow: none;box-shadow: none;
        background-color: $black;
        color: $white;
      }
    }
  }
  &.yellow {
    background: $yellow;
    color: $black;
    &.outline {
      background: transparent;
      border: 2px solid $yellow;
      color: $yellow;
    }
    &:hover {
      -webkit-box-shadow: 6px 6px 0 0 $black;
              box-shadow: 6px 6px 0 0 $black;
      &.outline {
        -webkit-box-shadow: none;box-shadow: none;
        background-color: $yellow;
        color: $black;
      }
    }
  }
  &.white {
    background: $white;
    color: $black;
    &.outline {
      background: transparent;
      border: 2px solid $white;
      color: $white;
    }
    &:hover {
      -webkit-box-shadow: 6px 6px 0 0 $yellow;
              box-shadow: 6px 6px 0 0 $yellow;
      &.outline {
        -webkit-box-shadow: none;box-shadow: none;
        background-color: $yellow;
        color: $black;
      }
    }
  }
}
