footer.footer {
  background: $black;
  padding: $spacing-largest 0;
  color: $white;
}

.social {
  text-align: right;
  @media #{$mobile} {
    margin-top: $spacing-normal;
    text-align: left;
  }
}
.social-icon {
  display: inline-block;
  padding: 0 $spacing-smallest;
  color: $yellow;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  &:hover {
    color: $white;
  }
}
.copyright {
  color: $white;
}
