section.intro {
  width: 100%;
  height: calc(100vh - 68px);
  max-height: 1080px;
  background-color: $black;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  @media #{$tablet}, #{$mobile} {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.intro-img {
  width: 50%;
  float: left;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-top: 42px;
  img {
    display: block;
    max-width: 100%;
    margin: 0;
    opacity: 0.25;
  }
}

.intro-txt {
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
  h1 {
    color: $yellow;
    margin: 0;
    font-size: $type-big;
  }
  span {
    color: white;
    font-size: $type-large;
  }
  @media #{$tablet}, #{$mobile} {
    padding: $spacing-normal;
    h1 {
      font-size: $type-large;
    }
    span {
      font-size: $type-base;
    }
  }
}

.intro-img,
.intro-txt {
  @media #{$tablet}, #{$mobile} {
    width: 100%;
  }
}

#occupations {
  display: inline;
}

.featured-projects {
  padding: $spacing-large 0;
  background: $white;
}

.featured-project {
  display: block;
  @include vertical-center;
  border-top: 2px solid $light-gray;
  margin: 2.618em 0;
  color: $black;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  &:hover {
    border-color: $yellow;
  }
}
.featured-project-img {
  padding: 0;
  img {
    display: block;
    max-width: 100%;
  }
}
.quick-portfolio {
  height: 420px; //lmao
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: 300ms $transition-ease-in;
  transition: 300ms $transition-ease-in;
  margin-bottom: 0;
  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($black, .75);
    opacity: 0;
    -webkit-transition: 300ms $transition-ease-in;
    transition: 300ms $transition-ease-in;
  }
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    color: $white;
    font-weight: 700;
    opacity: 0;
    -webkit-transition: 500ms $transition-ease-in;
    transition: 500ms $transition-ease-in;
  }
  &#photography {
    background-image: url('/assets/img/photography/brian-seattle-street-photography.jpg');
  }
  &#design {
    background-image: url('/assets/img/design/shio-illustration.jpg');
  }
  &#motion {
    background-image: url('/assets/img/motion/lighthouse-beginnings.jpg');
  }
  &:hover {
    -webkit-box-shadow: inset 0 0 0 10px $black;
            box-shadow: inset 0 0 0 10px $black;
    &::before {
      opacity: 1;
    }
    span {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }
}
