section.intro {
  width: 100%;
  height: calc(100vh - 68px);
  background-color: $black;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.intro-img {
  width: 50%;
  float: left;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 42px;
  img {
    display: block;
    max-width: 100%;
    margin: 0;
    opacity: 0.1;
  }
}

.intro-txt {
  align-self: center;
  width: 50%;
  h1 {
    color: $yellow;
    margin: 0;
    font-size: 1.2rem;
  }
  p {
    color: white;
    font-size: 1.618em;
    max-width: 600px;
  }
}

.featured-project {
  display: block;
  @include vertical-center;
  border-top: 2px solid $light-gray;
  margin: 2.618em 0;
  color: $black;
  transition: 300ms ease;
  &:hover {
    border-color: $yellow;
  }
}
.featured-project-img {
  padding: 0;
  img {
    display: block;
    max-width: 100%;
  }
}
