section.journal-list {
  background: $white;
  overflow: hidden;
  padding: $spacing-larger 0 $spacing-normal;
}

.journal-item {
  margin-bottom: $spacing-larger;
  h3 {
    color: $black;
    border-bottom: 2px solid $yellow;
    padding-bottom: $spacing-small;
  }
}

.journal-item-img {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 300ms $transition-ease-in;
    transition: 300ms $transition-ease-in;
  }
  img {
    max-width: 100%;
    display: block;
    -webkit-transition: 300ms $transition-ease-in;
    transition: 300ms $transition-ease-in;
  }
  &:hover {
    &::after {
      -webkit-box-shadow: inset 0 0 0 10px $yellow;
              box-shadow: inset 0 0 0 10px $yellow;
    }
    img {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
}

.journal-item-excerpt {
  color: $black;
}

.journal-item-meta {
  color: lighten($black, 75%);
  font-size: $type-small;
}

.journal-item-tag {
  text-transform: capitalize;
}

section.pagination,
section.post-nav {
  background-color: $yellow;
  .content {
    padding: $spacing-normal $spacing-small;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include vertical-center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    a,
    span {
      display: inline-block;
      padding: $spacing-smallest $spacing-small;
      -webkit-transition: 250ms ease;
      transition: 250ms ease;
    }
    a {
      background: $black;
      color: $white;
      * {
        color: $white;
      }
      &:hover {
        background: $white;
        -webkit-box-shadow: 6px 6px 0 0 $black;
                box-shadow: 6px 6px 0 0 $black;
        color: $black;
        * {
          color: $black;
        }
      }
      &.previous {
        .post-nav-arrow {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
        }
      }
    }
    span {
      color: rgba($black, .2);
    }
    @media #{$mobile} {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      a,
      span {
        display: block;
        margin-bottom: 1em;
      }
    }
  }
}
.post-nav-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
}

code {
  background: #eee;
  padding: 4px;
  font-family: 'Consolas', monospace !important;
}

pre.highlight {
  background: $charcoal;
  margin: $spacing-large 0;
  overflow-y: hidden;
  overflow-x: auto;
  padding: $spacing-small;
  white-space: pre-wrap;
  code {
    background: transparent;
  }
  * {
    font-family: 'Consolas', monospace !important;
  }
}

.expandable-section {
  margin: $spacing-large 0;
  max-height: 420px; //lmao
  overflow: hidden;
  position: relative;
  pre {
    margin: 0;
  }
  &::before {
    background: linear-gradient(to bottom, rgba($charcoal, 0) 0%, rgba($charcoal, 1) 100%);
    bottom: 0;
    content: '';
    display: block;
    height: $spacing-largest;
    left: 0;
    position: absolute;
    width: 100%;
  }
  &.is-expanded {
    max-height: 420000px;
    pre {
      padding-bottom: $spacing-larger;
    }
    &::before {
      display: none;
    }
  }
}

.expandable-section-trigger {
  background: $white;
  bottom: $spacing-small;
  cursor: pointer;
  color: $charcoal;
  display: inline-block;
  font-size: $type-small;
  left: 50%;
  padding: $spacing-smallest $spacing-small;
  position: absolute;
  transform: translateX(-50%);
  transition: 300ms $transition-ease-in;
  &:hover {
    background: $black;
    color: $yellow;
  }
}
