nav.main-nav {
  display: block;
  @include vertical-center;
  width: 100%;
  position: fixed;
  top: 0;
  height: 68px;
  background-color: $white;
  @include z-index-2;
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
  .logo {
    display: block;
    width: 68px;
    height: 68px;
    padding: 16px;
    background: $black;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    .jesse-rogers-1 {
      fill: rgba($white, 0.5);
    }
    .jesse-rogers-2 {
      fill: white;
    }
    .jesse-rogers-1,
    .jesse-rogers-2 {
      -webkit-transition: 300ms ease-in-out;
      transition: 300ms ease-in-out;
    }
    &:hover {
      background: $yellow;
      .jesse-rogers-1 {
        fill: rgba($black, 0.5);
      }
      .jesse-rogers-2 {
        fill: $black;
      }
    }
  }
  ul.nav-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    @media #{$tablet}, #{$mobile} {
      position: fixed;
      display: block;
      overflow-y: auto;
      overflow-x: hidden;
      width: 200px;
      height: 100vh;
      top: 0;
      right: -200px;
      padding-top: 68px;
      -webkit-transition: right 600ms $transition-ease-in;
      transition: right 600ms $transition-ease-in;
      background: $black;
      @include z-index-3;
      &.is-visible {
        right: 0;
        -webkit-box-shadow: -4px 0 0 0 rgba($black, .1);
                box-shadow: -4px 0 0 0 rgba($black, .1);
      }
    }
  }
  &.is-scrolled {
    -webkit-box-shadow: 0 4px 0 0 rgba($black, 0.1);
            box-shadow: 0 4px 0 0 rgba($black, 0.1);
  }
}

li.nav-item {
  display: inline-block;
  margin: 0;
  a {
    display: block;
    color: $black;
    line-height: 68px;
    font-size: 0.8em;
    padding: 0 1.618rem;
    height: 68px;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    &:hover {
      background: $yellow;
    }
    &.is-current {
      -webkit-box-shadow: inset 0 -4px 0 0 $yellow;
              box-shadow: inset 0 -4px 0 0 $yellow;
      &:hover {
        -webkit-box-shadow: inset 0 -4px 0 0 $black;
                box-shadow: inset 0 -4px 0 0 $black;
      }
      @media #{$tablet}, #{$mobile} {
        -webkit-box-shadow: none;box-shadow: none;
        color: $yellow;
        &:hover {
          -webkit-box-shadow: none;box-shadow: none;
        }
      }
    }
    @media #{$tablet}, #{$mobile} {
      &:hover {
        background: transparent;
      }
    }
  }
  &:last-child {
    a {
      background: $yellow;
      &:hover {
        background: $black;
        color: $white;
        -webkit-box-shadow: inset 0px -4px 0 0 $yellow;
                box-shadow: inset 0px -4px 0 0 $yellow;
      }
    }
  }
  .subnav {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    background: $white;
    -webkit-box-shadow: 6px 6px 0 0 $yellow;
            box-shadow: 6px 6px 0 0 $yellow;
  }
  &.has-subnav {
    position: relative;
  }
  @media #{$tablet}, #{$mobile} {
    display: block;
    a {
      color: $white;
    }
    .subnav {
      background-color: $black;
      -webkit-box-shadow: none;
              box-shadow: none;
      position: static;
      padding-left: $spacing-small;
    }
    &:last-child {
      a {
        background: transparent;
      }
    }
  }
}
li.subnav-item {
  margin: 0;
}
.js-nav-trigger {
  display: none;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: $spacing-normal;
  @include z-index-4;
  span {
    background-color: $black;
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    -webkit-transition: 600ms $transition-ease-in;
    transition: 600ms $transition-ease-in;
    &:first-child {
      top: 9px;
    }
    &:last-child {
      top: 15px;
      width: 16px;
      right: 0;
    }
  }
  &.is-clicked {
    span {
      top: 11px;
      background: $yellow;
      &:first-child {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
      &:last-child {
        width: 24px;
        right: auto;
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
      }
    }
  }
  @media #{$tablet}, #{$mobile} {
    display: block;
  }
}
