// Heading
section.post-title {
  padding: $spacing-larger $spacing-small 0;
  background-color: $white;
  .content {
    max-width: 800px;
  }
  h1 {
    font-size: $type-larger;
    margin: 0 0 $spacing-small;
  }
  .post-meta {
    font-size: $type-small;
    color: lighten($black, 50%);
    text-transform: capitalize;
  }
  .post-excerpt {
    font-size: $type-big;
    color: lighten($black, 40%);
  }
}

// Post Body
section.post-body {
  background-color: $white;
  padding: $spacing-large $spacing-small;
  .content {
    max-width: 700px;
    overflow: visible;
  }
  p {
    font-size: $type-big;
    line-height: $spacing-large;
  }
}

.post-image {
  position: relative;
}

.post-image-container {
  display: inline-block;
  width: calc(100% + 100px);
  margin-left: -50px;
  img {
    display: block;
    width: 100%;
  }
}

.post-nav-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
}
