.project-header {
  height: 10vw;
  min-height: 360px;
  padding: 20px;
  @include vertical-center;
  align-content: flex-end;
  background: $black;
  margin-bottom: 2.618em;
  h1 {
    color: $white;
    margin-top: 0;
    padding: 0;
  }
  p {
    margin: 0;
    color: $gray;
  }
}

.project-content {
  p {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 1.618em;
  }
}

.gallery {
  clear: both;
  margin: 1.618em 0;
  overflow: hidden;
}

.project-img {
  padding: 10px;
  overflow: hidden;
  transition: 300ms ease-in;
  cursor: pointer;
  img {
    display: block;
    max-width: 100%;
  }
  &:hover {
    background-color: $light-gray;
  }
  &.single-img {
    width: 100%;
    max-width: 800px;
    margin: 1.618em auto;
  }
}

.js-lightbox {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.9);
  padding-left: 0;
  transition: padding-left 500ms ease;
  img {
    display: block;
    position: absolute;
    max-width: 90vw;
    max-height: 90vh;
    height: auto;
  }
}

.js-lightbox-close {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  span {
    position: absolute;
    top: 7px;
    height: 2px;
    width: 16px;
    background: $yellow;
    opacity: 0;
    transition: 200ms ease-in;
    &:first-child {
      transform: rotate(-135deg);
    }
    &:last-child {
      transform: rotate(45deg);
    }
  }
}

.js-lightbox-info-trigger {
  position: absolute;
  top: 1em;
  right: 68px;
  text-align: center;
  &::before {
    content: '+';
    display: block;
    position: absolute;
    top: 0.5em;
    left: 0;
    vertical-align: middle;
    color: $yellow;
    transition: 300ms ease-in;
    font-size: 12px;
  }
  &::after {
    display: block;
    content: '';
    position: absolute;
    background: $yellow;
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: width 300ms ease-in;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  input {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    -webkit-appearance: none !important;
    background: transparent;
    border: none;
    color: $yellow;
    padding: 6px 0 0 14px;
    cursor: pointer;
    margin: 0 auto;
    transition: 300ms ease-in;
  }
}

.is-visible {
  cursor: default;
  .js-lightbox-close {
    span {
      transition: 250ms ease-in;
      opacity: 1;
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(315deg);
      }
    }
    &:hover {
      span {
        &:first-child {
          transform: rotate(135deg);
        }
        &:last-child {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.js-lightbox-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: $yellow;
  overflow: visible;
  padding: 20px;
  h2 {
    color: $black;
    margin: 0 0 1.618rem 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 2em;
  }
  p {
    color: $black;
  }
}

// Lightbox next buttons

.js-lightbox-prev,
.js-lightbox-next {
  display: block;
  text-align: center;
  padding: 0.26em 1em;
  border: 2px solid $yellow;
  background: rgba($black, 0.25);
  color: $yellow;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-appearance: none !important;
  transition: color 400ms ease-in, background 400ms ease-in, top 600ms ease-in, left 600ms ease-in, transform 600ms ease-in;
  &:focus {
    outline: none !important;
  }
  &:hover {
    background: $yellow;
    color: $black;
  }
}

.js-lightbox-prev {
  left: 20px;
}

.js-lightbox-next {
  right: 20px;
}

.is-showing-info {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 300px;
  transition: padding-left 500ms ease;
  .js-lightbox-prev,
  .js-lightbox-next {
    transform: none;
  }
  .js-lightbox-prev {
    left: calc(100% - 140px);
    top: calc(100% - 68px);
  }
  .js-lightbox-next {
    right: 20px;
    top: calc(100% - 68px);
  }
  .js-lightbox-info-trigger {
    &::before {
      content: '-';
    }
  }
}

.project-img:first-child {
  .js-lightbox-prev {
    display: none;
  }
}

.project-img:last-child {
  .js-lightbox-next {
    display: none;
  }
}
